name: 'appointment-calendar-backend'

services:

  # PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
      # target: copies
    container_name: appointment-calendar-app
    restart: unless-stopped
    tty: true
    ports:
      - "9000:9000"
    volumes:
      - ./:/var/www/html
    networks:
      - app-network-appointment-calendar
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - db

  # Nginx Service
  webserver:
    image: nginx:alpine
    # build:
    #   context: .
    #   dockerfile: DockerfileNginx
    container_name: appointment-calendar-webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/app.conf
    # develop:
    #   watch:
    #     - action: sync+restart
    #       path: ./docker/nginx.conf
    #       target: /etc/nginx/conf.d/app.conf
    networks:
      - app-network-appointment-calendar
    depends_on:
      - app

  # Banco de Dados
  db:
    image: mysql:8.0
    container_name: appointment-calendar-db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: appointmentdb
      MYSQL_USER: user
      MYSQL_ROOT_PASSWORD: r00tP5WD
      MYSQL_PASSWORD: u53rP5WD
    volumes:
      - dbdata:/var/lib/mysql/
      - ./database/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
    networks:
      - app-network-appointment-calendar

# Docker Networks
networks:
  app-network-appointment-calendar:
    driver: bridge

# Volumes
volumes:
  dbdata:
    driver: local
